<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello, <%= user %></p>
</body>
</html>

<!--
    TODO : 
    - 2 vues
    - 1 vue qui affiche bonjour + nom du user
    - 1 vue qui affiche une liste de users (nom, prenom, age) + une condition pour vérifier si il y a des users. sinon pas on affiche "aucun utilisateur"
-->