* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    color: #4E5D6C;
    margin: 0 0 30px 0;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
    color: #3F3F3F;
    margin: 0 0 10px 0;
}